$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


@import 'typography';
@import 'landing';
@import 'clancrusaders';

$red: red;
$yellow: yellow;
$purple: purple;

@mixin center-bg() {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* filter: blur(10px); */
}

header {
    .inner {
        height: 100%;
    }

    .parallax-background {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    .container {
        z-index: 2;
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
        z-index: 2;
    }

    .description {
        @media only screen and (min-width: 768px) {
            margin-top: 100px;
        }
        padding: 5px;

        h1 {
            text-shadow: 5px 5px 3px #333;

            small {
                /* text-shadow: none; */
                color: white;
                display: block;
                font-size: .5em;
            }
        }
    }
}

section {
    position: relative;
    background-color: #333;
    color: white;
    img {
        @media only screen and (max-width: 990px) {
            max-width: 400px;
        }
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        @include center-bg;
    }
}

#features {
    // Fix dragon background image bleed
    z-index: 2;
}

#dragons {
    .background {
        /* background-image: url(../img/dragon-bg.png); */
        background-image: url(../img/dragon-bg.svg);
    }
    // background-color: $red;
    color: #333;
}

#thieves {
    .background {
        /* background-image: url(../img/thief-bg.png); */
        background-image: url(../img/thief-bg.svg);
    }
    // background-color: $yellow;
    color: white;
}

#knights {
    .background {
        /* background-image: url(../img/knight-bg.png); */
        background-image: url(../img/knight-bg.svg);
    }
    // background-color: $purple;
    color: white;
}

#register {
    .background {
        background: $yellow;
    }
    h2 {
        color: $purple;
    }
}

img.character {
    width: 100%;
}

.parallax {
    width: 100%;
    height: 630px;
    overflow: hidden;
    display: block;
    background-size: 100%;
}
