$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


@import 'typography';
@import 'landing';
@import 'clancrusaders';

$red: red;
$yellow: yellow;
$purple: purple;

header {
    .inner {
        height: 100%;
    }

    .parallax-background {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    .container {
        z-index: 2;
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
        z-index: 2;
        /* position: absolute; */
        /* top: 0; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* left: 0; */
        /* right: 0; */
    }

    .description {
        margin-top: 100px;
        padding: 5px;

        h1 {
            text-shadow: 5px 5px 3px #333;

            small {
                /* text-shadow: none; */
                color: white;
                display: block;
                font-size: .5em;
            }
        }
    }
}

section {
    background-color: #333;
    color: white;
}

#dragons {
    background-color: $red;
    color: white;
}

#thieves {
    background-color: $yellow;
    color: #333;
}

#knights {
    background-color: $purple;
    color: white;
}

#register {
    h2 {
        color: $purple;
    }
}

img.character {
    width: 100%;
}

.parallax {
    width: 100%;
    height: 630px;
    overflow: hidden;
    display: block;
    background-size: 100%;
}
