/*

Theme customisation for Clan Crusaders game

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

/*
.navbar-default {
  background-color: #3c8101;
  border-color: #eede11;
}
*/
.navbar-default .navbar-brand {
  color: #cc9b4b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #70bba4;
}
.navbar-default .navbar-text {
  color: #cc9b4b;
}
.navbar-default .navbar-nav > li > a {
  color: #cc9b4b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #70bba4;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3c8101;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #cc9b4b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,


.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #70bba4;
  background-color: #eede11;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #eede11;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #70bba4;
  background-color: #eede11;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #70bba4;
  background-color: #eede11;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #70bba4;
  background-color: #eede11;
}
.navbar-default .navbar-toggle {
  border-color: #eede11;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eede11;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cc9b4b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cc9b4b;
}
.navbar-default .navbar-link {
  color: #cc9b4b;
}
.navbar-default .navbar-link:hover {
  color: #70bba4;
}




@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cc9b4b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #70bba4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #70bba4;
    background-color: #eede11;
  }




}

/*Link color customisation */

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
     color:#70bba4;
     text-decoration:none;
     cursor:pointer;
}

/* background  images */

section{
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #eede11;
}

.gameInfoHead {
  width:100%;
  height:20%;
  height:calc(100% - 1px);
  background-image:url('../img/gameinfo_PH.jpg');
  background-size:cover;
}

.gameInfoStory{
    z-index: -1;
  width:100%;
  height:20%;
  height:calc(100% - 1px);
  background-image:url('../img/gameinfo_bannerPH.jpg');
  background-size:cover;
}


.gameInfoCharacters{
  width:100%;
  height:20%;
  height:calc(100% - 1px);
  background-image:url('../img/gameinfo_bannerPH.jpg');
  background-size:cover;
}

.gameInfoWorld{
  width:100%;
  height:20%;
  height:calc(100% - 1px);
  background-image:url('../img/gameinfo_bannerPH.jpg');
  background-size:cover;
}

section .text-dark {
    color: #333;
}